.accord{
    max-width: 400px;
    height: auto;
    border: 2px solid rgba(41, 41, 41, 0.8);
    margin: 100px auto 0;
    border-radius: 3px;
}
.accord-visible{
    display: flex;
    justify-content: space-around;
    background: rgba(71, 77, 155, 0.9);
    color:rgba(243, 243, 243, 0.9);
    cursor: pointer;
    align-items: center;
    padding: 7px 15px;
}
.arrow{
    width: 20px;
}
.accord-title{
    font-size: 20px;
}
.accord-toggle{
    background: rgb(245,245,245);
    font-size: 17px;
    opacity: 0;
    transition: 
    height 0.4s ease-in-out,
    opacity 0.5s 0.4s ease-in-out;
}
.animated{
    opacity: 1;
    transition: 
    opacity 0.5s ease-in-out,
    height 0.1s 0.5s ease-in-out;
}
.accord-toggle p {
    padding: 22px 15px;
    margin: 0px;
    pointer-events: none;
    line-height: 1.3;
}
