.btn-modal {
  display: block;
  padding: 10px 20px;
  margin: 100px auto 0;
  font-size: 18px;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.5);
}
.modal {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 600px;
  background: #f1f1f1;
  padding: 14px 28px;
  border-radius: 3px;
  min-width: 300px;
}
.modal-content p {
  line-height: 1.4;
}
.close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 7px;
}
